<input type="text" [(ngModel)]="phrase">
active: <input type="checkbox" [(ngModel)]="activeCheck">
<div class="list-group">
  <a
    href="#"
    class="list-group-item list-group-item-action"
    [class.active]="isActive == quiz.name"
    (click)="setActiveQuiz(quiz)"
    [class.disabled]="!quiz.active"
    *ngFor="let quiz of list | async | quizFilter:activeCheck:phrase">
      {{ quiz.title }}
  </a>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="btn-group">
      <button (click)="getQuizes()" class="btn btn-info">
        GetQuizes
      </button>
      <button (click)="postQuiz()" class="btn btn-success">
        PostQuiz
      </button>
    </div>
  </div>
</div>
